:root {
  --primary: #77facb;
  --primary-middle: #24ffaf;
  --primary-dark: #42b389;
  --secondary-dark: #ad4731;
  --secondary: #fa8369;
}

html,
body,
#app {
  height: 100%;
}

html,
button,
input {
  font-family: "montserrat-text";
}

input {
  border: 3px solid var(--primary-dark);
  border-radius: 3px;
  box-shadow: 3px 3px 3px grey;
  height: 25px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;

  user-select: auto;
  font-size: 12px;
  padding: 0 6px;
  padding-left: 12px;
}
:focus {
  border: 3px solid var(--primary-middle);
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #262827;
  margin: 0;
}

@font-face {
  font-family: "montserrat";
  font-weight: 400;
  src: url("/public/fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "montserrat-text";
  font-weight: 400;
  src: url("/public/fonts/montserrat-text/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "denseletters";
  font-weight: 400;
  src: url("/public/fonts/denseletters/DenseLetters-nRgDO.otf");
}

h1 {
  color: var(--secondary);
  font-family: "montserrat";
  font-size: 40px;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

h2 {
  color: var(--secondary-dark);
  margin-bottom: 20px;
  font-family: "montserrat";
}
h3,
h4 {
  color: black;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

@media (min-width: 480px) {
  body {
    width: 100%;
  }
}

@media (max-width: 900px) {
  body {
    width: 100%;
  }
}
